POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
ACCOUNTS_DB_NAME=subscription_management_accounts
BILLING_DB_NAME=subscription_management_billing

ACCOUNTS_PORT=8080
BILLING_PORT=8081

ACCOUNTS_DATABASE_URL=host=postgres-accounts user=postgres password=postgres dbname=subscription_management_accounts port=5432 sslmode=disable TimeZone=UTC
BILLING_DATABASE_URL=host=postgres-billing user=postgres password=postgres dbname=subscription_management_billing port=5432 sslmode=disable TimeZone=UTC

ACCOUNTS_DB_URL=postgres://postgres:postgres@postgres-accounts:5432/subscription_management_accounts?sslmode=disable
BILLING_DB_URL=postgres://postgres:postgres@postgres-billing:5432/subscription_management_billing?sslmode=disable

JWT_SECRET=change-me
INTERNAL_TOKEN=change-me

BILLING_SERVICE_URL=http://billing-service:8081
ACCOUNTS_SERVICE_URL=http://accounts-service:8080
